* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body,
html {
    background-color: #1c1c1c;
    height: 100%;
    width: 100%;
}

.card {
    width: 90%;
    max-width: 450px;
    color: #fff;
    margin: 100px auto 0px;
    padding: 40px 35px;
    border-radius: 23px;
    background-image: linear-gradient(145deg, rgba(232, 87, 237, 0.15) 0%, rgba(109, 137, 69, 0.15) 100%), linear-gradient(75deg, rgb(33, 138, 184), rgb(0, 241, 181));
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 60px;
    font-size: 22px;
    border-radius: 35px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;

}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.weather-icon {
    width: 170px;
    margin: 0px auto;
    display: flex;
}

.temp {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
}

.temp sup {
    font-size: 38px;
}

.city {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    gap: 5%;
}

.first-col {
    display: flex;
    align-items: center;
}

.humidity-icon {
    scale: 47%;
}

.humidity p:nth-child(1) {
    font-size: 30px;
    font-weight: 500;
}

.second-col {
    display: flex;
    align-items: center;
}

.wind-icon {
    scale: 50%;
}

.wind p:nth-child(1) {
    font-size: 27px;
    font-weight: 500;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

.date {
    text-align: center;
    font-size: 17px;
}

@media screen and (max-width: 320px) {
    body {
        background-color: #9c9999;
    }

    .details {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .humidity p:nth-child(1) {
        font-size: 20px;
        font-weight: 300;
    }
    /* .humidity p:nth-child(2) {
        font-size: 20px;
        font-weight: 300;
    } */

    .wind p:nth-child(1) {
        font-size: 17px;
        font-weight: 300;
    }
    .wind p:nth-child(2) {
        font-size: 13px;
        font-weight: 300;
    }

    .humidity-icon {
        scale: 27%;
    }

    .wind-icon {
        scale: 25%;
    }

    .search button {
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin-left: 10px;
    }

    .search button img {
        width: 12px;

    }

    .search input {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 40px;
        font-size: 15px;
        border-radius: 34px;
    }
}